.admin-control-buttons-container {
  position: fixed;
  display: flex;
  z-index: 1000;
}

.admin-control-buttons-container:hover::before {
  content: '';
  position: absolute;
  top: -15px;
  right: -15px;
  bottom: -15px;
  left: -15px;
}

.admin-control-buttons-container.dragging,
.admin-control-buttons-container.dragging button {
  cursor: grabbing;
}

button.admin-control-button,
a.admin-control-button {
  outline: none;
  background-color: #555;
  transition: background-color .15s;
  box-sizing: border-box;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 24px;
  margin: 5px;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  border: none;
  position: relative;
  z-index: 2;  
}

button.admin-control-button:hover,
a.admin-control-button:hover,
button.admin-control-button:active,
a.admin-control-button:active,
button.admin-control-button:focus,
a.admin-control-button:focus {
  color: white;
  border: none;
}

button.admin-control-button:focus,
a.admin-control-button:focus {
  box-shadow: 0 0 9px 2px deepskyblue;
}

button.admin-control-button.settings,
a.admin-control-button.settings {
  position: absolute;
  height: 30px;
  width: 30px;
  font-size: 16px;
  bottom: calc(100% - 50px);
  left: calc(100% - 50px);
  transition: transform .3s;
  transform-style: preserve-3d;
  transform: translate(0, 0);
  z-index: 1;
}

.admin-control-buttons-container:not(.dragging):hover button.admin-control-button.settings,
.admin-control-buttons-container:not(.dragging):hover a.admin-control-button.settings {
  transition-delay: 1s;
  transform: translate(30px, -30px);
}

button.admin-control-button.settings:focus,
a.admin-control-button.settings:focus {
  transform: translate(30px, -30px);
}

button.admin-control-button:hover,
a.admin-control-button:hover {
  background-color: #999;
}

button.admin-control-button:active,
a.admin-control-button:active {
  background-color: #777;
}